alembic==1.11.1
anyio==3.7.1
async-generator==1.10
asyncpg==0.28.0
attrs==22.2.0
certifi==2023.7.22
cffi==1.15.1
click==8.1.6
coverage==7.3.1
cryptography==41.0.5
dnspython==2.4.1
email-validator==2.0.0.post2
exceptiongroup==1.1.0
Faker==19.3.0
fastapi==0.100.1
gevent==23.9.1
gunicorn==20.1.0
h11==0.14.0
httpcore==0.17.3
httptools==0.5.0
httpx==0.24.1
idna==3.4
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.2.4
MarkupSafe==2.1.3
orjson==3.8.3
outcome==1.2.0
packaging==23.1
pluggy==1.2.0
psycopg2-binary==2.9.6
py==1.11.0
pycparser==2.21
pydantic==1.10.13
pyhumps==3.8.0
PyJWT==2.8.0
pytest==7.4.0
pytest-cov==4.1.0
pytest-metadata==1.11.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.5
PyYAML==6.0
rfc3986==1.5.0
sentry-sdk==1.29.2
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
SQLAlchemy==1.4.41
sqlalchemy2-stubs==0.0.2a35
sqlmodel==0.0.8
starlette==0.27.0
tomli==2.0.1
typing_extensions==4.7.1
ujson==5.6.0
urllib3==2.0.7
uvicorn==0.23.2
uvloop==0.17.0
watchfiles==0.18.1
websockets==10.4
zope.event==5.0
zope.interface==6.0
